{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title = 'Are you sure you want to update the claim status to ‘' + (status | getClaimStatusLabel | lower) + '’?' %}
{% set caption = "Sampling" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if status === "clawback_requested" %}
          <p class="govuk-body">XYZ</p>
        {% elif status === "paid" %}
          <p class="govuk-body">ABC</p>
        {% endif %}

        {{ govukWarningText({
          text: "This action cannot be undone.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Update claim"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
