<div class="govuk-button-group">
{% if claim.status == "payment_information_requested" %}
  {{ govukButton({
    text: "Confirm information sent",
    href: actions.informationSent
  }) }}

  {{ govukButton({
    text: "Reject claim",
    href: actions.rejectClaim,
    classes: "govuk-button--secondary"
  }) }}
{% endif %}

{% if claim.status == "payment_information_sent" %}
  {{ govukButton({
    text: "Reject claim",
    href: actions.rejectClaim
  }) }}
{% endif %}

{% if claim.status === "sampling_in_progress" %}
  {{ govukButton({
    text: "Approve claim",
    href: actions.approveClaim
  }) }}

  {{ govukButton({
    text: "Reject claim",
    href: actions.rejectClaim,
    classes: "govuk-button--secondary"
  }) }}
{% endif %}

{% if claim.status == "sampling_not_approved" %}
  {{ govukButton({
    text: "Request clawback",
    href: actions.requestClawback
  }) }}
{% endif %}

{% if claim.status === "in_review" %}
  {{ govukButton({
    text: "Approve claim",
    href: actions.approveClaim
  }) }}

  {{ govukButton({
    text: "Request clawback",
    href: actions.requestClawback,
    classes: "govuk-button--secondary"
  }) }}
{% endif %}

{% if claim.status === "clawback_in_progress" %}
  {{ govukButton({
    text: "Confirm clawback received",
    href: "#"
  }) }}
{% endif %}
</div>
