{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title %}
  {% if pagination.totalCount > 0 %}
    Claims ({{ pagination.totalCount | numeral('0,0') }})
  {% else %}
    No claims found
  {% endif %}
{% endset %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Download CSV"
      }) }}

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "./_search-panel.njk" %}

      {# {% include "./_sort-options.njk" %} #}

      {% if claims.length %}
        <ul class="app-search-results">
          {% for claim in claims %}
            <li class="app-search-results__item">
              <h2 class="app-search-result__item-title">
                <a class="govuk-link" href="{{ actions.view }}/{{ claim.id }}">
                  <span class="app-search-result__school-name">{{ claim.organisationId | getSchoolName }}</span><br>
                  <span class="app-search-result__claim-reference">{{ claim.reference }}</span>
                </a>
              </h2>

              <dl class="app-result-detail">
                <div class="app-result-detail__row">
                  <dt class="app-result-detail__key">Accredited provider</dt>
                  <dd class="app-result-detail__value">{{ claim.providerId | getProviderName }}</dd>
                </div>
                <div class="app-result-detail__row">
                  <dt class="app-result-detail__key">Amount</dt>
                  <dd class="app-result-detail__value">£{{ claim.totalAmount | numeral('0,0.00') }}</dd>
                </div>
              </dl>
            </li>
          {% endfor %}
        </ul>

        {% include "_includes/pagination.njk" %}

      {% else %}

        {% include "./_no-results.njk" %}

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script type="module">
  import { FilterToggleButton } from '/public/javascripts/components/filter-toggle-button.js'

  const filterToggleButton = new FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.app-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
    },
    closeButton: {
      container: $('.app-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.app-filter-layout__filter')
    }
  })

  filterToggleButton.init()
</script>


<script type="module" >
  import { CheckboxFilter } from '/public/javascripts/components/checkbox-filter.js'

  const checkboxFilterSchool = new CheckboxFilter({
    container: $('#filter-school'),
    textBox: {
      label: 'Search for school'
    }
  })

  const checkboxFilterProvider = new CheckboxFilter({
    container: $('#filter-provider'),
    textBox: {
      label: 'Search for provider'
    }
  })

  checkboxFilterSchool.init()
  checkboxFilterProvider.init()
</script>
{% endblock %}
