{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title %}
  {% if pagination.totalCount > 0 %}
    Claims ({{ pagination.totalCount | numeral('0,0') }})
  {% else %}
    No claims found
  {% endif %}
{% endset %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Download CSV"
      }) }}

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "./_search-panel.njk" %}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {# {% include "./_sort-options.njk" %} #}

      {% if claims.length %}

        <div class="app-claim-cards">
          {% for claim in claims %}
            <section class="app-claim-card">
              <header class="app-claim-card__header">
                <h3 class="govuk-heading-s govuk-!-width-two-thirds">
                  <a href="{{ actions.view }}/{{ claim.id }}" class="govuk-link govuk-link--no-visited-state">
                    {{ claim.organisationId | getSchoolName }}
                  </a>
                  <span class="app-claim-card__caption">
                    {{ claim.reference }}
                  </span>
                </h3>
                {{ govukTag({
                  text: claim.status | capitalize,
                  classes: claim.status | getClaimStatusClasses
                }) }}
              </header>

              <div class="govuk-grid-row app-grid-row--flex">
                <div class="govuk-grid-column-two-thirds">
                  <dl class="app-claim-card__list">
                    <dt class="govuk-visually-hidden">Accredited provider</dt>
                    <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                      {{ claim.providerId | getProviderName }}
                    </dd>
                  </dl>
                </div>

                <div class="govuk-grid-column-one-third">
                  <dl class="app-claim-card__list app-claim-card__list--secondary">
                    <dt class="govuk-visually-hidden">Submitted on</dt>
                    <dd class="govuk-body-s govuk-!-margin-bottom-1">
                      {{ claim.submittedAt | datetime('dd/MM/yyyy') }}
                    </dd>
                    <dt class="govuk-visually-hidden">Total amount</dt>
                    <dd class="govuk-body-s  govuk-!-margin-bottom-1">
                      £{{ claim.totalAmount | numeral('0,0.00') }}
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
          {% endfor %}
        </div>

        {% include "_includes/pagination.njk" %}

      {% else %}

        {% include "./_no-results.njk" %}

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script type="module">
  import { FilterToggleButton } from '/public/javascripts/components/filter-toggle-button.js'

  const filterToggleButton = new FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.app-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
    },
    closeButton: {
      container: $('.app-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.app-filter-layout__filter')
    }
  })

  filterToggleButton.init()
</script>


<script type="module" >
  import { CheckboxFilter } from '/public/javascripts/components/checkbox-filter.js'

  const checkboxFilterSchool = new CheckboxFilter({
    container: $('#filter-school'),
    textBox: {
      label: 'Search for school'
    }
  })

  const checkboxFilterProvider = new CheckboxFilter({
    container: $('#filter-provider'),
    textBox: {
      label: 'Search for provider'
    }
  })

  checkboxFilterSchool.init()
  checkboxFilterProvider.init()
</script>
{% endblock %}
