{% extends "layouts/support.njk" %}

{% set primaryNavId = "organisations" %}
{% set secondaryNavId = "details" %}

{% if hasClaims or hasMentors or hasUsers %}
  {% set title = "You cannot remove this organisation" %}
{% else %}
  {% set title = "Are you sure you want to remove this organisation?" %}
{% endif %}

{% set caption = organisation.name %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if hasClaims or hasMentors or hasUsers %}

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>



          <p class="govuk-body">To remove this organisation you must first remove any associated:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="govuk-link" href="{{ actions.change }}/claims">Claims</a>
            </li>
            <li>
              <a class="govuk-link" href="{{ actions.change }}/mentors">Mentors</a>
            </li>
            <li>
              <a class="govuk-link" href="{{ actions.change }}/users">Users</a>
            </li>
          </ul>

        {% else %}

          {{ govukButton({
            text: "Remove organisation",
            classes: "govuk-button--warning"
          }) }}

        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
