{% set dobHtml %}
  <p class="govuk-body">{{ mentor.dateOfBirth | datetime('dd/MM/yyyy') }}</p>
  <p class="govuk-hint">We do not store date of birth</p>
{% endset %}
{{ govukSummaryList({
  rows: [

    {
      key: {
        text: "First name"
      },
      value: {
        text: mentor.firstName
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: mentor.lastName
      }
    },
    {
      key: {
        text: "Teacher reference number (TRN)"
      },
      value: {
        text: mentor.trn
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "teacher reference number (TRN)"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: dobHtml
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}
