{% extends "layouts/support.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Claim windows" %}
{% set caption = "Service settings" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add claim window",
        href: actions.new
      }) }}



    </div>
  </div>

{% endblock %}
