{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Check your answers" %}
{% set caption = "Add claim" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set mentorListHtml %}
          <ul class="govuk-list">
            {% for mentor in claim.mentors %}
              <li>
                {{ mentor.trn | getMentorName }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Provider"
              },
              value: {
                text: claim.provider | getProviderName
              },
              actions: {
                items: [
                  {
                    href: actions.change + "?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "provider"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mentors"
              },
              value: {
                html: mentorListHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/mentors?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "mentors included in the claim"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Hours of training</h2>

        <dl class="govuk-summary-list">
          {% for mentor in claim.mentors %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ mentor.trn | getMentorName }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if mentor.hours == "other" %}
                  {{ mentor.otherHours + " hours" if mentor.otherHours else "Not entered" }}
                {% else %}
                  {{ mentor.hours + " hours" if mentor.hours else "Not entered" }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ actions.change }}/hours?referrer=check&position={{ loop.index0 }}">
                  Change<span class="govuk-visually-hidden"> hours of training undertaken by {{ mentor.trn | getMentorName }}</span>
                </a>
              </dd>
            </div>
          {% endfor %}
        </dl>

        {{ govukButton({
          text: "Submit claim"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
