{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% if claim.status === "draft" %}
    {% set caption = "Check draft claim" %}
    {% set title = "Claim - " + claim.reference %}
  {% else %}
    {% set caption = "Add claim" %}
    {% set title = "Check your answers" %}
{% endif %}



{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set mentorListHtml %}
          <ul class="govuk-list">
            {% for mentor in claim.mentors %}
              <li>
                {{ mentor.trn | getMentorName }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "School"
              },
              value: {
                text: organisation.name
              }
            },
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                text: claim.providerID | getProviderName
              },
              actions: {
                items: [
                  {
                    href: actions.change + "?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "accredited provider"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mentor" + ("s" if claim.mentors.length > 1)
              },
              value: {
                html: mentorListHtml
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "mentors included in the claim"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Hours of training</h2>

        <dl class="govuk-summary-list">
          {% for mentor in claim.mentors %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ mentor.trn | getMentorName }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if mentor.hours == "other" %}
                  {{ mentor.otherHours + " hours" if mentor.otherHours else "Not entered" }}
                {% else %}
                  {{ mentor.hours + " hours" if mentor.hours else "Not entered" }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  {# {{ actions.change }}/hours?referrer=check&position={{ loop.index0 }} #}
                  Change<span class="govuk-visually-hidden"> hours of training undertaken by {{ mentor.trn | getMentorName }}</span>
                </a>
              </dd>
            </div>
          {% endfor %}
        </dl>

        {% include "_includes/claims/grant-funding.njk" %}

        <h2 class="govuk-heading-m">Declaration</h2>

        <p class="govuk-body">
          By submitting this claim, I confirm that:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            I am authorised to claim on behalf of the school
          </li>
          <li>
            the information detailed above is accurate and the total I am claiming back has been used to support the cost of the mentor training
          </li>
          <li>
            I will provide evidence to support this claim if requested by the Department for Education
          </li>
        </ul>

        {# {{ govukInsetText({
          text: "You will be able to change the details of this claim up to and including 19 July 2024."
        }) }} #}

        {{ govukWarningText({
          text: "You will not be able to change any of the claim details once you have submitted it.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Submit claim"
        }) }}

      </form>


  {% if claim.status === "draft" %}
        <p class="govuk-body">
          <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Remove claim</a>
        </p>
  {% else %}
      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>
  {% endif %}


    </div>
  </div>

{% endblock %}
