{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Check your answers" %}
{% set caption = "Add claim" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {# {% include "_includes/claims/check-your-answers.njk" %} #}

        {# {{claim|dump|safe}} #}

        {% set mentorListHtml %}
          <ul class="govuk-list govuk-list--bullet">
            {% for mentor in mentorChoices %}
              <li>
                {{ mentor | getMentorName }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Provider"
              },
              value: {
                text: claim.provider | getProviderName
              },
              actions: {
                items: [
                  {
                    href: "Item URL",
                    text: "Change",
                    visuallyHiddenText: "Item label"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mentors"
              },
              value: {
                html: mentorListHtml
              },
              actions: {
                items: [
                  {
                    href: "Item URL",
                    text: "Change",
                    visuallyHiddenText: "Item label"
                  }
                ]
              }
            }
          ]
        }) }}

        {% for mentor in claim.mentors %}
          {{ govukSummaryList({
            card: {
              title: {
                text: mentor.trn | getMentorName
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    visuallyHiddenText: "mentor"
                  }
                ]
              }
            },
            rows: [
              {
                key: {
                  text: "Hours of training"
                },
                value: {
                  text: mentor.hours
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "age"
                    }
                  ]
                }
              }
            ]
          }) }}
        {% endfor %}

        {{ govukButton({
          text: "Update claim" if referrer == "change" else "Add claim"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
