{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Check your answers" %}
{% set caption = "Add claim" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{# {{ govukBackLink({
  text: "Back to claims",
  href: actions.back
}) }} #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Claim submitted",
        html: "Your reference number<br><strong>" + claim.reference | upper + "</strong>"
      }) }}

      <p class="govuk-body">We have emailed you a copy of your claim.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We will check your claim before processing payment. If we need to contact you for further information, we will use the email you used to access this service.
      </p>

      <h3 class="govuk-heading-s">Processing your claim</h3>

      <p class="govuk-body">
        We will process this claim at the end of July 2024 and all payments will be paid from September 2024.
      </p>

      <p class="govuk-body">
        <a href="{{ actions.back }}" class="govuk-link">View claims</a>
      </p>

      <h2 class="govuk-heading-m">Give us feedback</h2>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What do you think of this service? (opens in new tab)</a>
      </p>
    </div>
  </div>

{% endblock %}
