{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Hours of training for " + (mentorTrn | getMentorName) %}
{% set caption = "Add claim - " + (claim.provider | getProviderName) %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>
        <input type="hidden" name="mentor[trn]" value="{{ mentorTrn }}">
        <input type="hidden" name="mentor[name]" value="{{ mentorTrn | getMentorName }}">

        {{ govukRadios({
          name: "mentor[hours]",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: mentor.hours,
          items: [
            {
              value: "20",
              text: "20 hours"
            },
            {
              value: "6",
              text: "6 hours"
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Other amount",
              conditional: {
                html: govukInput({
                  id: "otherAmount",
                  name: "mentor[otherHours]",
                  label: {
                    text: "Number of hours",
                    isPageHeading: false,
                    classes: "govuk-label--s"
                  },
                  hint: {
                    text: "Enter whole numbers up to a maximum of 20 hours"
                  },
                  value: mentor.otherHours,
                  errorMessage: errors | getErrorMessage("otherHours"),
                  classes: "govuk-input--width-2"
                })
              }
            }
          ],
          errorMessage: errors | getErrorMessage("hours")
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
