{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Claims" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  {% if showDeadlineBanner == "true" %}
    {% include "_includes/deadline-banner.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}

      {% set insetHtml %}
        {% if not mentors.length %}
          <p class="govuk-body">
            Before you can start a claim you will need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a>.
          </p>
        {% else %}
          {% if now | isClaimWindowOpen %}
            <p class="govuk-body">
              Claims can only be made for the school year {{ currentClaimWindow.academicYear | getAcademicYearLabel }}.
            </p>
            <p class="govuk-body">
              Final closing date for claims: <strong>{{ currentClaimWindow.closesAt | govukDateTime }}</strong>
            </p>
          {% else %}
            <p class="govuk-body">
              You can no longer submit claims for the school year {{ currentClaimWindow.academicYear | getAcademicYearLabel }}
            </p>
            <p class="govuk-body">
              You can still <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a>.
            </p>
          {% endif %}
        {% endif %}
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      {% if now | isClaimWindowOpen and mentors.length %}
        {{ govukButton({
          text: "Add claim",
          href: actions.new
        }) }}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% for year in years %}
        <h2 class="govuk-heading-m">
          <span class="govuk-caption-m">Academic year</span>
          {{ year.name }} {{ "- current" if loop.first }}
        </h2>

        {% if year.claims.length %}
          {% set claims = year.claims %}
          {% include "_includes/claims/list.njk" %}
          {# {% include "_includes/pagination.njk" %} #}
        {% else %}
          <p class="govuk-body">There {{ "are" if loop.first else "were" }} no claims for {{ organisation.name if organisation.name else "your organisation" }} in academic year {{ year.name }}.</p>
        {% endif %}
      {% endfor %}

    </div>
  </div>

{% endblock %}
