{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Claims" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_includes/page-heading.njk" %}

      {{ govukInsetText({
          text: "Claims can only be made for the school year September 2023 to July 2024"
        }) }}

      {% if not mentors.length %}
            Before you can start a claim you will need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a>.
          </p>
      {% else %}
        {{ govukButton({
          text: "Add claim",
          href: actions.new
        }) }}
      {% endif %}

      {% if claims.length %}
        {% include "_includes/claims/list.njk" %}
        {% include "_includes/pagination.njk" %}
      {% elseif mentors.length %}
        <p class="govuk-body">There are no claims for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
