{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Claims" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  {% if showDeadlineBanner == "true" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "_includes/deadline-banner.njk" %}
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}

      {% set insetHtml %}
        {% if not mentors.length %}
          <p class="govuk-body">
            Before you can start a claim you will need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a>.
          </p>
        {% else %}
          <p class="govuk-body">
            Claims can only be made for the school year September 2023 to July 2024.
          </p>
          <p class="govuk-body">
            Final closing date for claims: <strong>19 July 2024 at 11:59 pm</strong>
          </p>
        {% endif %}

      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      {% if mentors.length %}
        {{ govukButton({
          text: "Add claim",
          href: actions.new
        }) }}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if claims.length %}
        {% include "_includes/claims/list.njk" %}
        {% include "_includes/pagination.njk" %}
      {% else %}
        <p class="govuk-body">There are no claims for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
