{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Mentor" %}
{% set caption = "Add claim - " + (claim.provider | getProviderName) %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCheckboxes({
          name: "mentorChoices[]",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          values: mentorChoices,
          items: mentorOptions,
          errorMessage: errors | getErrorMessage("mentorChoices")
        }) }}

        {% set summaryHtml %}
          <p class="govuk-body">
            If the mentor is not listed, you can add a mentor and restart your claim for all the mentors.
          </p>
          <p class="govuk-body">
            Or, you can submit the claim for the selected mentors, add the missing mentor, and create another claim for them.
          </p>
        {% endset %}

        {{ govukDetails({
          summaryText: "The mentor is not listed",
          html: summaryHtml
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
