{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Mentor" %}
{% set caption = "Add claim - " + (claim.providerId | getProviderName) %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {# TODO: Only show if the mentor list has been limited #}
      {% set insetHtml %}
        <p class="govuk-body">This list includes all mentors who can be included on a claim. If a mentor you have added is not showing in this list, that is because they have already had 20 hours of training claimed for with this provider.</p>
        <p class="govuk-body">Training may have been claimed for by a different school.</p>
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCheckboxes({
          name: "mentorChoices[]",
          fieldset: {
            legend: {
              text: "Select the mentors for this claim",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          values: mentorChoices,
          items: mentorOptions,
          errorMessage: errors | getErrorMessage("mentorChoices")
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
