{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Accredited provider" %}
{% set caption = "Add claim" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

    <form novalidate method="post">

      {{ govukSelect({
        id: "[choose][provider]",
        name: "[choose][provider]",
        classes: "providerAutocomplete",
        label: {
          html: headingHtml,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: data.choose.provider,
        items: [
            { value: "aaaaaaaaa", text: "aaaaaaaaa" },
            { value: "bbbbbbbbb", text: "bbbbbbbbb" },
            { value: "ccccccccc", text: "ccccccccc" },
            { value: "ddddddddd", text: "ddddddddd" },
            { value: "eeeeeeeeee", text: "eeeeeeeeee" },
            { value: "fffffffff", text: "fffffffff" }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.providerAutocomplete')
    })
  </script>
{% endblock %}
