{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Claim " + claim.reference | upper %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# tag used in the heading #}
      {% set headingTag %}
        {{ govukTag({
          text: claim.status | getClaimStatusLabel,
          classes: "govuk-tag--no-max-width " + (claim.status | getClaimStatusClasses)
        }) }}
      {% endset %}

      {% include "_includes/page-heading.njk" %}

      {% if claim.academicYear | isCurrentAcademicYear and claim.status == "draft" %}
        {{ govukButton({
          text: "Submit claim",
          href: actions.submit
        }) }}
      {% else %}
        {% include "_includes/claims/meta-data.njk" %}
      {% endif %}

      {% include "_includes/claims/details.njk" %}

      {% include "_includes/claims/hours-of-training.njk" %}

      {% include "_includes/claims/grant-funding.njk" %}

      {% if claim.status in ["clawback_complete","clawback_requested","clawback_in_progress"] %}
        {% include "_includes/claims/clawback-details.njk" %}
      {% endif %}

      {% if claim.status == "draft" %}
        <p class="govuk-body">
          <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Remove claim</a>
        </p>
      {% endif %}

    </div>
  </div>

{% endblock %}
