{% extends "layouts/main.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Claim - " + claim.reference | upper %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# tag used in the heading #}
      {% set headingTag %}
        {{ govukTag({
          text: claim.status | capitalize,
          classes: claim.status | getClaimStatusClasses
        }) }}
      {% endset %}

      {% include "_includes/page-heading.njk" %}

      {% set insetHtml %}
        {% if not mentors.length %}
          <p class="govuk-body">
            Claims can no longer be submitted for school year September 2023 to July 2024.
          </p>
          <p class="govuk-body">
            You can still <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a>.
          </p>
        {% else %}
          <p class="govuk-body">
            Claims can no longer be submitted for school year September 2023 to July 2024.
          </p>
        {% endif %}
      {% endset %}

      {% if claim.status == "draft" %}
        <p class="govuk-body">
          {# <a class="govuk-link app-link--destructive" href="{{ actions.delete }}" >Remove claim</a> #}
          <a href="{{ actions.delete }}" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">Remove claim</a>
        </p>
      {% endif %}

      {% if claim.status == "draft" %}
         {{ govukInsetText({
        html: insetHtml
      }) }}
        {% include "_includes/claims/meta-data.njk" %}
      {% endif %}

      <p class="govuk-body">
        Email <a class="govuk-link" href="mailto:ittmentor.funding@education.gov.uk"> ittmentor.funding@education.gov.uk</a> if you have a query about your claims.
      </p>

      {% include "_includes/claims/details.njk" %}

      {% include "_includes/claims/hours-of-training.njk" %}

      {% include "_includes/claims/grant-funding.njk" %}



    </div>
  </div>

{% endblock %}
