{% extends "layouts/auth.njk" %}

{% set title = "Grant conditions" %}

{% block beforeContent %}
{# {{ govukBackLink({
  text: "Back",
  href: actions.back
}) }} #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <div class="app-markdown">
        {{ content | markdownToHtml | safe }}
      </div>

      {# <h2 class="govuk-heading-m govuk-!-margin-top-9">Declaration</h2> #}

      {% set buttonLabel = "Accept grant conditions" %}

      {{ govukWarningText({
        text: "By selecting ‘" + buttonLabel + "’ you declare that you have read and agreed to the above grant conditions as an authorised representative of " + organisation.name + ".",
        iconFallbackText: "Warning"
      }) }}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukButton({
          text: buttonLabel
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
