{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}
{% set secondaryNavId = "activity" %}

{% set title = "Claims" %}
{% set subtitle = "Activity log" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../_secondary-navigation.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        {{ subtitle }}
      </h2>

      <div class="app-timeline">

      {%- for item in activity %}
        <div class="app-timeline__item">

          <div class="app-timeline__header">
            <h3 class="app-timeline__title">
              {{- item.title -}}
            </h3>
            {% if item.createdBy %}
              <p class="app-timeline__byline">
                {{ item.createdBy | getUserName }} on
                <time datetime="{{ item.createdAt }}">
                  {{- item.createdAt | govukDateTime }}
                </time>
              </p>
            {% endif %}
          </div>

          {% if item.text or item.documents %}
            <div class="app-timeline__description">
              {{- item.text -}}
              {% if item.documents %}
                <ul class="app-timeline__documents">
                  {% for document in item.documents %}
                    <li class="app-timeline__document-item">
                      <a href="{{ document.href }}" class="app-timeline__document-link">{{ document.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}

        </div>
      {% endfor -%}

    </div>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
