{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}
{% set secondaryNavId = "activity" %}

{% set title = "Claims" %}
{% set subtitle = "Activity log" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../_secondary-navigation.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        {{ subtitle }}
      </h2>

      {% if activity.length %}

        <div class="app-timeline govuk-!-margin-bottom-5">
          {%- for item in activity %}
            <div class="app-timeline__item">
              <div class="app-timeline__header">
                <h3 class="app-timeline__title">
                  {{- item.title -}}
                </h3>
                {% if item.createdBy %}
                  <p class="app-timeline__byline">
                    {{ item.createdBy | getUserName }} on
                    <time datetime="{{ item.createdAt }}">
                      {{- item.createdAt | govukDateTime }}
                    </time>
                  </p>
                {% endif %}
              </div>

              {% if item.text or item.documents %}
                <div class="app-timeline__description">
                  {{- item.text -}}
                  {% if item.documents %}
                    {% set numDocsToShow = 5 %}
                    <ul class="app-timeline__documents">
                      {% for i in range(0, numDocsToShow) %}
                        <li class="app-timeline__document-item">
                          <a href="{{ item.documents[i].href }}" class="app-timeline__document-link">{{ item.documents[i].title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                    {% if item.documents.length > numDocsToShow %}
                      <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-2">
                        Showing {{ numDocsToShow }} of {{ item.documents.length }} files
                      </p>
                      <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="{{ actions.show }}/{{ item.id }}" class="govuk-link">View all files</a>
                      </p>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endfor -%}
        </div>

        {% include "_includes/pagination.njk" %}

      {% else %}

        <p class="govuk-body">There is no activity.</p>

      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
