<p class="govuk-body">
  By submitting this claim, I confirm that:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    I am authorised to claim on behalf of the school
  </li>
  <li>
    I have read and accepted the grant terms and conditions
  </li>
  <li>
    the information detailed above is accurate and the total I am claiming back has been used to support the cost of the mentor training
  </li>
  <li>
    I will provide evidence to support this claim if requested by the Department for Education
  </li>
</ul>

{{ govukWarningText({
  text: "You will not be able to change any of the claim details once you have submitted it.",
  iconFallbackText: "Warning"
}) }}
