{% set mentorListHtml %}
  <ul class="govuk-list">
    {% for mentor in claim.mentors %}
      <li>
        {{ mentor.trn | getMentorName }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set organisationNameHtml %}
  <p class="govuk-body">
    {% if showOrganisationLink %}<a href="{{ actions.organisations }}/{{ claim.organisationId }}" class="govuk-link">{% endif %}
      {{- organisation.name if organisation.name else claim.organisationId | getSchoolName -}}
    {% if showOrganisationLink %}</a>{% endif %}
  </p>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "School"
      },
      value: {
        html: organisationNameHtml
      }
    },
    {
      key: {
        text: "Academic year"
      },
      value: {
        text: claim.academicYear | getAcademicYearLabel
      }
    },
    {
      key: {
        text: "Accredited provider"
      },
      value: {
        text: claim.providerId | getProviderName
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "accredited provider"
          }
        ]
      } if claim.academicYear | isCurrentAcademicYear and claim.status == "draft"
    },
    {
      key: {
        text: "Mentors"
      },
      value: {
        html: mentorListHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "mentors included in the claim"
          }
        ]
      } if claim.academicYear | isCurrentAcademicYear and claim.status == "draft"
    }
  ]
}) }}
