{% set mentorListHtml %}
  <ul class="govuk-list">
    {% for mentor in claim.mentors %}
      <li>
        {{ mentor.trn | getMentorName }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "School"
      },
      value: {
        text: organisation.name if organisation.name else claim.organisationId | getSchoolName
      }
    },
    {
      key: {
        text: "Accredited provider"
      },
      value: {
        text: claim.providerId | getProviderName
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "accredited provider"
          }
        ]
      } if claim.status == "draft" and claim.status === "submitted"
    },
    {
      key: {
        text: "Mentors"
      },
      value: {
        html: mentorListHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "mentors included in the claim"
          }
        ]
      } if claim.status == "draft" and claim.status === "submitted"
    }
  ]
}) }}
