{% set mentorListHtml %}
  <ul class="govuk-list">
    {% for mentor in claim.mentors %}
      <li>
        {{ mentor.trn | getMentorName }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "School"
      },
      value: {
        text: organisation.name if organisation.name else claim.organisationId | getSchoolName
      }
    },
    {
      key: {
        text: "Accredited provider"
      },
      value: {
        text: claim.provider | getProviderName
      },
      actions: {
        items: [
          {
            href: actions.change + "?referrer=check",
            text: "Change",
            visuallyHiddenText: "accredited provider"
          }
        ]
      } if claim.status == "draft"
    },
    {
      key: {
        text: "Mentors"
      },
      value: {
        html: mentorListHtml
      },
      actions: {
        items: [
          {
            href: actions.change + "/mentors?referrer=check",
            text: "Change",
            visuallyHiddenText: "mentors included in the claim"
          }
        ]
      } if claim.status == "draft"
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({
          text: claim.status | capitalize,
            classes: claim.status | getClaimStatusClasses
        })
      }
    },
    {
      key: {
        text: "Submitted by"
      },
      value: {
        text: claim.submittedBy | getUserName if claim.submittedBy else "-"
      }
    },
    {
      key: {
        text: "Date submitted"
      },
      value: {
        text: claim.submittedAt | datetime('dd MMMM yyyy') if claim.submittedAt else "-"
      }
    }
  ]
}) }}
