<h2 class="govuk-heading-m">Grant funding</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Total hours"
      },
      value: {
        text: claim.totalHours | numeral('0,0') + " hour" + ("s" if claim.totalHours > 1)
      }
    },
    {
      key: {
        text: "Hourly rate"
      },
      value: {
        text: organisation.location.districtAdministrativeCode | getFundingRate | currency
      }
    },
    {
      key: {
        text: "Claim amount"
      },
      value: {
        text: claim.totalAmount | currency
      }
    }
  ]
}) }}
