<div class="app-table--overflow">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Claim reference</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Accredited provider</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Mentors</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim amount</th>
        <th scope="col" class="govuk-table__header">Date submitted</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for claim in claims %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="{{ actions.view }}/{{ claim.id }}">
              {{ claim.reference | upper }}
            </a>
          </td>
          <td class="govuk-table__cell">
            {{ claim.providerId | getProviderName }}
          </td>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              {% for mentor in claim.mentors %}
                <li>
                  {{ mentor.trn | getMentorName }}
                </li>
              {% endfor %}
            </ul>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ claim.totalAmount | currency }}
            {% if claim.clawback.totalAmount %}
              <span class="govuk-!-font-weight-bold">Clawback amount</span>
              {{ claim.clawback.totalAmount | currency }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if claim.submittedAt %}
              {{ claim.submittedAt | govukDate }}
            {% else %}
              -
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {{ govukTag({
              text: claim.status | getClaimStatusLabel,
              classes: "govuk-tag--no-max-width " + (claim.status | getClaimStatusClasses)
            }) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
