{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Success" %}
{% set caption = "Payments" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Claims sent"
      }) }}

      <p class="govuk-body">We have sent the claims to the ESFA.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
          The ESFA will check the claims and process the payments.
        </p>
        <p class="govuk-body">
          The ESFA will return the CSV with an update to indicate which claims have been paid and which have not. Where claims have not been paid there will be a reason given.
        </p>
        <p class="govuk-body">
          The returned CSV will need to be uploaded in the payments tab. This will update the statuses of the claims.
        </p>

      <p class="govuk-body">
        <a href="{{ actions.claims }}" class="govuk-link">View claims</a>
      </p>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
