{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% if hasClaims %}
  {% set title = "Send claims to ESFA" %}
{% else %}
  {% set title = "There are no claims to send for payment" %}
{% endif %}

{% set caption = "Payments" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if hasClaims %}
        <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

          <p class="govuk-body">
            {% if claimsCount == 1 %}
              There is 1 claim included in this submission.
            {% else %}
              There are {{ claimsCount | numeral('0,0') }} claims included in this submission.
            {% endif %}
          </p>

          <p class="govuk-body">Selecting ‘Send claims’ will:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              create a CSV containing a list of all ‘Submitted’ claims
            </li>
            <li>
              send an email to the ESFA containing a link to the generated CSV - this link expires after 7 days
            </li>
            <li>
              update the claim status from ‘Submitted’ to ‘Payment in progress’
            </li>
          </ul>

          {{ govukWarningText({
            text: "This action cannot be undone.",
            iconFallbackText: "Warning"
          }) }}

          {{ govukButton({
            text: "Send claims"
          }) }}

        </form>
      {% else %}
        <p class="govuk-body">You cannot send any claims to the ESFA because there are no claims pending payment.</p>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
