{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title = "Export 28 September 2024 at 1:30pm" %}
{% set caption = "Payments" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">Details go here, for example a list of claims and actions</p>

    </div>
  </div>

{% endblock %}
