{% extends "layouts/support.njk" %}

{% set primaryNavId = "claims" %}

{% set title = claim.organisationId | getSchoolName %}
{% set caption = "Payments - Claim " + claim.reference | upper %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# tag used in the heading #}
      {% set headingTag %}
        {{ govukTag({
          text: claim.status | getClaimStatusLabel,
          classes: "govuk-tag--no-max-width " + (claim.status | getClaimStatusClasses)
        }) }}
      {% endset %}

      {% include "_includes/page-heading.njk" %}

      {% if note and note.text.length %}
        {% set insetHtml %}
          <h2 class="govuk-heading-s">Reason claim was not paid</h2>
          <p class="govuk-body">{{ note.text }}</p>
        {% endset %}
        {{ govukInsetText({
          html: insetHtml
        }) }}
      {% endif %}

      {% include "../_actions.njk" %}

      {% include "_includes/claims/meta-data.njk" %}

      {% include "_includes/claims/details.njk" %}

      {% include "_includes/claims/hours-of-training.njk" %}

      {% include "_includes/claims/grant-funding.njk" %}

    </div>
  </div>

{% endblock %}
