{% set deadlineBanner %}

      <p class="govuk-notification-banner__heading">
        Final closing date for claims: <strong>19 July 2024 by 11.59 pm</strong>.
      </p>


{% endset %}

{{ govukNotificationBanner({
  html: deadlineBanner
}) }}
