{% set deadlineBanner %}
  <p class="govuk-notification-banner__heading">
    Final closing date for claims is <strong>11:59pm on Friday 19 June 2024</strong>
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: deadlineBanner
}) }}
