{% set helpHtml %}
<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-one-half">
    <div class="app-footer__chat">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Online chat
      </h3>
      <p class="govuk-!-font-size-16"><span class="app-web-chat">You cannot use online chat because there’s a problem. Send an email if you keep seeing this message.</span></p>
    </div>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <div class="app-footer__email">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Email
      </h3>
      <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <a class="govuk-footer__link" href="mailto:ittmentor.funding@education.gov.uk">
          ittmentor.funding@education.gov.uk
        </a>
      </p>
      <p class="govuk-!-font-size-16">You’ll get a response within 5 working days.</p>
    </div>
  </div>
</div>
{% endset %}

{{ appFooter({
  classes: "app-footer",
  meta: {
    title: "Get help",
    html: helpHtml,
    items: [{
      href: "/grant-conditions",
      text: "Grant conditions"
    }, {
      href: "/accessibility",
      text: "Accessibility"
    }, {
      href: "/cookies",
      text: "Cookies"
    }, {
      href: "/privacy",
      text: "Privacy notice"
    }, {
      href: "/terms",
      text: "Terms and conditions"
    }, {
      href: "/settings/reset-data",
      text: "Reset data"
    }, {
      href: "/settings",
      text: "Settings"
    }] if not hideFooterLinks
  }
}) }}
