<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Grant conditions
</h2>

{% if organisation.conditionsAgreed %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Agreed by"
        },
        value: {
          text: organisation.conditionsAgreedBy | getUserName
        }
      },
      {
        key: {
          text: "Agreed on"
        },
        value: {
          text: organisation.conditionsAgreedAt | datetime('dd MMMM yyyy')
        }
      }
    ]
  }) }}

  <p class="govuk-body">
    <a class="govuk-link app-link--destructive" href="{{ actions.deleteConditionsAgreement }}">Remove user’s agreement to the grant conditions</a>
  </p>
{% else %}
  <p class="govuk-body">
    This school has not agreed to the grant conditions.
  </p>
{% endif %}
