{% extends "layouts/support.njk" %}

{% set primaryNavId = "organisations" %}
{% set secondaryNavId = "claims" %}

{% set title = organisation.name %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../_secondary-navigation.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Claims</h2>

      {% if not mentors.length %}
        {% set mentorHtml %}
          <p class="govuk-body">
            You need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a> before creating a claim.
          </p>
        {% endset %}

        {{ govukInsetText({
          html: mentorHtml
        }) }}
      {% else %}
        {{ govukInsetText({
          text: "You can only claim for the academic year September 2023 to July 2024."
        }) }}

        {{ govukButton({
          text: "Add claim",
          href: actions.new
        }) }}
      {% endif %}

      {% if claims.length %}
        {% include "_includes/claims/list.njk" %}
        {% include "_includes/pagination.njk" %}
      {% else %}
        <p class="govuk-body">There are no claims for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
