{% extends "layouts/start.njk" %}

{% set title = serviceName %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Use this service to claim for mentors who supported, or intended to support, trainee teachers from September 2023 to July 2024.
      </p>

      <p class="govuk-body">
        Final closing date for claims: <strong>19 July 2024 by 11.59 pm</strong>
      </p>

      <p class="govuk-body">
        You must wait until May 2025 to claim for training that took place from April 2024 for the school year starting September 2025.
      </p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        You’ll be asked for:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          initial teacher training (ITT) provider name
        </li>
        <li>
          your mentors’ teacher reference numbers (TRN)
        </li>
        <li>
          your mentors’ dates of birth
        </li>
        <li>
          hours of training each mentor completed
        </li>
      </ul>

      {{ govukButton({
        classes: "govuk-!-margin-top-4",
        text: "Start now",
        href: "/sign-in",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Get an account to claim funding for mentor training</h2>

      <p class="govuk-body">
        Ask a colleague within your organisation to add you if you do not have an account.
      </p>

      <p class="govuk-body">
        If your organisation has not been set up to claim funding for mentor training, send an email to <a href="mailto:ittmentor.funding@education.gov.uk" class="govuk-link">ittmentor.funding@education.gov.uk</a>.
      </p>

    </div>
    <div class="govuk-grid-column-one-third">

      {{ appRelated({
        title: "Related content",
        items: [{
          text: "Guidance for providers on initial teacher training (ITT)",
          href: "https://www.gov.uk/government/collections/initial-teacher-training"
        }, {
          text: "Find out what a teacher reference number (TRN) is and how to find or request a TRN",
          href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
        }]
      }) }}

    </div>
  </div>
{% endblock %}
