{% extends "layouts/start.njk" %}

{% set title = serviceName %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  {% if showDeadlineBanner == "true" %}
    {% include "_includes/deadline-banner.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% set content %}
Use this service to make a claim for the time spent becoming an initial teacher training (ITT) mentor.

## Who can use this service

You can use this service if you are a school or education organisation that:

- offers ITT placements with an accredited provider
- has at least one team member who has started or is due to start their ITT mentor training
- is registered with [Get information about schools (GIAS)](https://get-information-schools.service.gov.uk/)

> This funding is not available for training early career framework (ECF) mentors. To claim for ECF mentors, [you need a different service](https://manage-training-for-early-career-teachers.education.gov.uk/).

## When to submit a claim

For the school year starting September 2024:

- you can add your ITT mentor training hours and submit a claim from May 2025
- when you are registered in the service, we will email you reminders of claim opening dates and deadlines

## Before you start

You will be asked for:

- the name of your accredited ITT provider
- your mentors’ teacher reference numbers (TRN)
- your mentors’ dates of birth
- completed training hours - you should check these with your provider

To access this service, you will be asked to sign in or create a Department for Education (DfE) Sign-in account. DfE Sign-in is how schools and other education organisations access DfE online services.

{{ govukButton({
  classes: "govuk-!-margin-top-4",
  text: "Start now",
  href: "/sign-in",
  isStartButton: true
}) }}

## Get a {{ serviceName | lower }} account

Most eligible organisations will automatically be set up with an account to {{ serviceName | lower }}.

If you cannot access your organisation’s account, you may need to ask a colleague to add you.

If your organisation is eligible but has not been set up with an account, send an email to <ittmentor.funding@education.gov.uk>. You will get a response within 5 working days.

## Latest news and updates

- [Payment of your funding claim for 2023 to 2024](#)
- [New guidance for submitting mentor evidence to DfE](#)
- [Celebrating the success of the trial service](#)

[View all news and updates](#)
{% endset %}

      <div class="app-markdown">
        {{ content | markdownToHtml | safe }}
      </div>

    </div>
    <div class="govuk-grid-column-one-third">

      {{ appRelated({
        title: "Related content",
        items: [{
          text: "Guidance for placement schools and providers on initial teacher training (ITT)",
          href: "#"
        }, {
          text: "Guidance for providers on initial teacher training (ITT)",
          href: "https://www.gov.uk/government/collections/initial-teacher-training"
        }, {
          text: "Find out what a teacher reference number (TRN) is and how to find or request a TRN",
          href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
        }]
      }) }}

    </div>
  </div>
{% endblock %}
